.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
}

#userDetail{
    padding: 20px 105px 0;
    /* position: relative; */
    /* width: 100%; */
    /* left: 0;
    right: 0; */
    background: white;
  
    border-radius: 10px;
    box-shadow: 0 0 15px 1px rgba(139 182 29 / 35%);
    padding: 20px 30px;
    box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
}

#cseProfile{
display: none;
}
.edit{
    margin-right: -2%;
    margin-top: -6%;
}